$color-1 = #1c1c1c
$color-2 = #343434

html
body
    height 100%
    font-family Verdana, Geneva, Tahoma, sans-serif

body
    background-color $color-1

*
    box-sizing border-box

.index
    position absolute
    left 10px
    top 10px
    color brown

.error__input
    border-bottom 2px dashed brown

input:-webkit-autofill
input:-webkit-autofill:hover
input:-webkit-autofill:focus
    background $color-2
