<main class="index__main">
    <div class="in__div__sign__in">
        <form class="in__form__sign__in un__form">
                <input type="text" class="in__data__user__buttons" placeholder="login" name="login">
                <input type="password" class="in__data__user__buttons" placeholder="password" name="password">
            <div class="in__div__button__sign__in">
            </div>
            <div class="in__div__sign__up">
                <a class="in__link__sign__up" href="/sign_up">Sign up</a>
            </div>
        </form>
    </div>
</main>