<main class="change__img__main">

<form name="tttt" class="fileForm">
    <div class="chimg__div__user__avatar">
        <img src="#" alt="IMG" class="chimg__img__user__avatar">
    </div>
    
        <input type="file" name="avatar" class="chimg__input__file">
  
    <div>
        <input type="submit" value="change img" class="chimg__input__sub">
    </div>
</form>

</main>