<div class="ch__message_left ch__message">
    <span>{{this.message}}</span>
    {{#if this.img}}
    <img src="{{this.img}}" alt="img" class="ch__img__chat">
    {{/if}}
    <span class="ch__time__message">{{this.time}}</span>
</div>