<main class="chat__main">
<div class="ch__users_list">
    <nav class="ch__div__profile">
        <a class="ch__a__profile internalLinks" href="/profile">profile</a>
    </nav>
     <div class="ch__contacts">
    </div>
</div>

<div class="ch__div__chat">
    <div class="ch__div__top__active__user">
        <div class="ch__img__top__active__user">
            <img src="#" alt="img">
        </div>
        <div class="ch__name__top__active__user">
        </div>
    </div>

    <div class="ch__div__messages">
    </div>

    <div class="ch__div__send__message">
        <input type="textarea" name="message" class="ch__textarea">
        <input type="button" value="send" class="ch__send__button">
    </div>
</div>
</main>