<main class="sign__up__main">
    <div class="si__sign__up__div">
        <form class="si__sign__up__form un__form">
            <input type="text" class="si__data__user__buttons" placeholder="first name" name="first_name" value="">
            <input type="text" class="si__data__user__buttons" placeholder="second name" name="second_name"  value="">
            <input type="text" class="si__data__user__buttons" placeholder="login" name="login"  value="">
            <input type="email" class="si__data__user__buttons" placeholder="email" name="email"  value="">
            <input type="text" class="si__data__user__buttons" placeholder="phone" name="phone"  value="">
            <input type="password" class="si__data__user__buttons" placeholder="password" name="password" value="">
            <div class="si__sign__in__button__div">
                <input type="submit" class="si__sign__in__button un__submit" value="Sign up">
            </div>
            <div class="si__sign__in__div">
                <a class="si__sign__in__link internal__link" id="/" href="/">Sign in</a>
            </div>
        </form>
    </div>
    </main>