<main class="password__main">
    <nav class="pa__nav__chats"><a href="chats">chats</a><a href="settings">settings</a></nav>
    <div class="pa__div__pa__changePassword">
        <form class="pa__formEL__changePassword un__form">
            <input type="password" placeholder="old password" name="oldPassword" class="pa__input__oldPassword">
            <input type="password" placeholder="new password" name="newPassword" class="pa__input__newPassword">
            <input type="submit" value="change">
        </form>
    </div>
</main>