$color-1 = #343434
$color-2 = #51b5c5

.password__main
    display flex
    align-items center
    justify-content center
    height 100%

.pa__formEL__changePassword
    display flex
    flex-direction column

.pa__div__pa__changePassword
    padding 30px 0 
    width 300px 
    background-color $color-1
    display flex
    justify-content center
    border-radius 10px

.pa__formEL__changePassword>input+input
    margin-top 30px

.pa__formEL__changePassword>input[type="password"]
    width 180px
    background-color $color-1
    color silver
    border none
    border-bottom 2px dashed $color-2
    text-align center
    font-size 20px
    outline none

.pa__formEL__changePassword>input[type="submit"]
    width 180px
    padding 0px
    font-size 18px
    background-color $color-2
    border none
    color $color-1

.pa__nav__chats
    width 100%
    max-width 1050px
    position absolute
    top 10px
    
.pa__nav__chats>a
    color $color-2
    font-size 18px

.pa__nav__chats>a+a
    margin-left 10px